
[Unit]
Description=flightsurf-feed
Wants=network.target
After=network.target

[Service]
User=flightsurf
RuntimeDirectory=flightsurf-feed
ExecStart=/usr/local/share/flightsurf/flightsurf-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=flightsurf-feed
Nice=-1

[Install]
WantedBy=default.target
